





.bodyTestimonial{
    margin: 13rem auto auto;
    text-align: center;
}
.testimonial-titleSection{
    margin: auto;
    padding-bottom:3rem;
}



.css-19qs7mv,.swiper-slide, .swiper-slide-active{
    align-items: center;
    justify-self: center;
    margin-top:5.5rem;
    margin-bottom:1rem;
}



.swiper-pagination{
    position: relative !important; 
    margin-top: 30.5rem !important;
}
.swiper-pagination-bullet{
    background-color: rgb(255, 255, 255) !important;
}
.swiper-pagination-bullet-dynamic{
    overflow: visible !important;

}
.blurtesti{
    left: 1rem;
}



.swiper-pagination-bullets-dynamic, .swiper-pagination-bullets{
    margin-top: 1rem !important;
}

